<html>
    <head>
        <meta charset="utf-8">
        <script src="../../static/js/vue.js"></script>
        <script src="../../static/js/md5.js"></script>
        <script src="../../static/js/jquery.min.js"></script>
        <script href="../../static/js/bootstrap.min.js"></script>
        <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../static/css/bootstrap-theme.css" rel="stylesheet">
        <link href="../../static/css/mystyle.css" rel="stylesheet">

        <title>登录</title>
        
    </head>

    <body>
        <div id="app" class="login-wallpaper">
            <div class="content">
                <div id="login" class="login-form">
                    <img class="logo" src="../../static/image/logo.png">
                    <form class="from-horizontal" role="form" method="post">
                        <div class="form-group">
                            <input id="username" type="text" class="form-control log-input" v-on:focus="resetInfo" name="username" v-model="username" placeholder="用户名" required>
                        </div>
                        <div class="form-group">
                            <input id="raw-pwd" type="password" class="form-control log-input" v-on:focus="resetInfo" v-model="password" placeholder="密码" required> 
                        </div>
                        <input id="password" type="text" name="password" style="display:none;">
                        <div class="form-group">
                            <button id="info" type="button" class="btn-login" v-on:click="login()">登录</button>
                        </div>
                        <button type="submit" id="submit" style="display:none"></button>
                    </form>
                </div>
            </div>
        </div>
        <script>
            
        </script>
        
    </body>

    <script>
        var login_info = new Vue({
            el: "#login",
            data: {
                username: "",
                password: ""
            },
            methods: {
                resetInfo: function() {
                    $("#info").text("登录");
                },
                login: function () {
                    var password_md5 = CryptoJS.MD5(this.password).toString(CryptoJS.enc.Hex);
                    $("#password").val(password_md5);
                    // 检查用户名密码是否为空
                    if($("#username").val() == "") {
                        $("#info").text("用户名不能为空");
                        return;
                    }
                    if($("#raw-pwd").val() == "") {
                        $("#info").text("密码不能为空");
                        return;
                    }
                    // ajax提交
                    $.post("/auth/api/login", {
                        "username": this.username,
                        "password": password_md5
                    }, function(data) {
                        if(data == "1") {
                            $("#info").text("用户名不存在");
                            return;
                        }
                        else if(data == "2") {
                            $("#info").text("密码错误");
                        }
                        else {
                            $("#submit").click();
                        }
                        console.log(data);
                    }, "text");
                }
            }
        });
    </script>
</html>