{% extends "base.html" %}
{% block title %}
{{ user.nickname }} - 个人空间
{% endblock %}
{% block content %}
{% block head %}
{{ super() }}
<script>
        function get_follow() {
            var path = window.location.pathname;
            var uid_2 = path.split("/")[3];
            $.post("/auth/api/hasFollow", {"uid_2": uid_2}, function(data) {
                if(data == false) {
                    $("#follow-info").text("关注");
                }
                else {
                    $("#follow-info").text("取消关注");
                }
            });
        }
        get_follow();
        function deal_follow() {
            var text = $("#follow-info").text();
            if(text == "关注") {
                follow();
            }
            else {
                unfollow();
            }
        }
        function follow() {
            var path = window.location.pathname;
            var uid_2 = path.split("/")[3];
            var d = new Date();
            var d_follow = d.toLocaleDateString();
    
            $.post("/auth/api/follow", {
                "uid_2": uid_2,
                "d_follow": d_follow
            }, function(data) {
                $("#follow-info").text("取消关注");
                var fan = parseInt($("#fan-num").text());
                fan++;
                $("#fan-num").text(fan);
                var own = "{{ user.own }}";
                if(own == "True") {
                    var follow = parseInt($("#follow-num").text());
                    follow++;
                    $("#follow-num").text(follow); 
                }
            })
        }
        function unfollow() {
            var path = window.location.pathname;
            var uid_2 = path.split("/")[3];
            var d = new Date();
            var d_follow = d.toLocaleDateString();
    
            $.post("/auth/api/unfollow", {
                "uid_2": uid_2,
                "d_follow": d_follow
            }, function(data) {
                $("#follow-info").text("关注");
                var fan = parseInt($("#fan-num").text());
                fan--;
                $("#fan-num").text(fan);
                var own = "{{ user.own }}";
                if(own == "True") {
                    var follow = parseInt($("#follow-num").text());
                    follow--;
                    $("#follow-num").text(follow); 
                }
            }) 
        }
    </script>
{% endblock %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <div class="profile-info">
            <div class="row">
                <div class="col-md-4">
                    <h1>{{user.nickname}}</h1>
                </div>
                <div class="col-md-4">
                    <button id="follow-info" class="follow" onclick="deal_follow()">关注</button>
                </div>
            </div>
            <div class="detail">
                <div class="row detail-entry">
                    <div class="col-md-2 detail-title">
                        <label>性别</label>
                    </div>
                    <div class="col-md-8 detail-info">
                        <label>{{ user.sex }}</label>
                    </div>
                </div>
                <div class="row detail-entry">
                    <div class="col-md-2 detail-title">
                        <label>生日</label>
                    </div>
                    <div class="col-md-8 detail-info">
                        <label>{{ user.date_birth }}</label>
                    </div>
                </div>
                <div class="row detail-entry">
                    <div class="col-md-2 detail-title">
                        <label>签名</label>
                    </div>
                    <div class="col-md-8 detail-info">
                        <label>{{ user.signature }}</label>
                    </div>
                </div>
                <div class="row detail-entry">
                    <div class="col-md-2 detail-title">
                        <label>关注</label>
                    </div>
                    <div class="col-md-8 detail-info">
                        <label id="follow-num">{{ user.follow }}</label>
                    </div>
                </div>
                <div class="row detail-entry">
                    <div class="col-md-2 detail-title">
                        <label>粉丝</label>
                    </div>
                    <div class="col-md-8 detail-info">
                        <label id="fan-num">{{ user.fans }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <img class="profile-photo" src="{{user.profile_photo}}">
        </div>
            
    </div>
</div>

<div class="works_box">
        <p><hr></P>
        <h2>个人作品</h2>
        {% for works in worksList %}
        <div class="row">
            <div class="col-xs-3 col-md-1"><a href="/works/{{works.w_id}}">
                <img src={{works.img[0]}} width="64" height="64" ></a></br>
            </div>
            <div class="col-xs-9 col-md-11">
                <p></br>{{works.cont}}</p>
                <small>{{ works.d_post }}</small></br>
            </div>
        </div>
        <p><hr></P>
        {% endfor %}
    </div>
{% endblock %}
