<html>
    <body>
        <div id="app-space">
            <div class="navbar">
            </div>
            <div class="space-header">
                <div class="avatar">
                    <img src="{{user.profile_photo}}">
                    <h1>nickname: {{user.nickname}}</h1>
                    <h1>id: {{user.id}}</h1>
                    <h1>date_birth: {{user.date_birth}}</h1>
                    <h1>date_register: {{user.date_register}}</h1>
                    <h1>signature: {{user.signature}}</h1>
                    <h1>follows: {{user.follow}}</h1>
                    <h1>fans: {{user.fans}}</h1>
                    <h1>sex: {{user.sex}}</h1>
                </div>
            </div>
            <div class="space-navigation">

            </div>
            <div class="content">

            </div>
        </div>
    </body>
</html>