<html>
    <body>
        <div id="app-space">
            <div class="navbar">
            </div>
            <div class="space-header">
                <div class="avatar">
                    <img src="{{user.profile_photo}}">
                    <h1>{{user.nickname}}</h1>
                    <h1>{{user.id}}</h1>
                    <h1>{{user.date_birth}}</h1>
                    <h1>{{user.date_register}}</h1>
                    <h1>{{user.signature}}</h1>
                    <h1>{{user.follow}}</h1>
                    <h1>{{user.fans}}</h1>
                    <h1>{{user.sex}}</h1>
                </div>
            </div>
            <div class="space-navigation">

            </div>
            <div class="content">

            </div>
        </div>
    </body>
</html>