{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - unconfirmed{% endblock %}

{% block content_header %}
<h1>Hello ,{{user.username}}</h1>
{% endblock %}

{% block content_container %}
<p>You have not confirmed your account yet!</p>
<p>Before you can access the site you nedd to confirm your account. Check your index, you should have recieved an email with a confirmation link.</p>

<p>Need another confirmation email?<a href={{url_for('auth.resend_confirmation')}}>Click here</a></p>
{% endblock %}
