{% extends "base.html" %}

{% block head %}
<link href="/static/css/dropzone.css" rel="stylesheet"> 
{{ super() }}
<script src="/static/js/dropzone.js"></script>

{% endblock %} 
{% block title %} 
修改个人资料
{% endblock %} 
{% block content %}

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="nickname" class="col-md=2 control-label">昵称</label>
        <div class="col-md-10">
            <input id="nick" type="text" class="form-control" id="nickname" name="nickname" placeholder="{{ user.nickname }}" onkeydown="if(event.keyCode==13){$('#submit').click();return false;}">
        </div>
    </div>
    <div class="form-group">
        <label class="form-label reg-label">性别</label>
    </div>
    <div class="sex">
        <label class="radio-inline left">
            <input onfocus="resetSubmit()" type="radio" name="sex" id="option1" value="male" {% if user.sex == "male" %}checked{% endblock %}>男
        </label>
        <label class="radio-inline right">
            <input onfocus="resetSubmit()" type="radio" name="sex" id="option2" value="female" {% if user.sex == "female" %}checked{% endblock %}>女
        </label>
    </div>
    <div class="form-group">
        <input id="sig" type="text" onfocus="resetSubmit()" name="signature" onkeydown="if(event.keyCode==13){$('#submit').click();return false;}" class="form-control reg-input" placeholder="{{ user.signature }}">
    </div>
    <div class="form-group">
        <button id="submit" type="button" class="btn-register" onclick="submit()">确认修改</button>
    </div>
</form>

<script>
    function resetSubmit() {
        $("#submit").text("确认修改");
    }
    function submit() {
        var nickname = $("#nick").val();
        var signature = $("#sig").val();
        var sex = $("input:radio[name='sex']:checked").val();
        $.post("/auth/api/update_info", {
            "nickname": nickname,
            "signature": signature,
            "sex": sex
        }, function(data) {
            if(data == "true") {
                $("#submit").text("修改成功");
                return;
            }
        });
    }
</script>

{% endblock %}