{% extends "base.html" %}
{% block title %}
活动
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="activity-img">
            <img src="http://i0.hdslb.com/bfs/vc/85ff2248ba00f882ac3a10a4226b84b42888d181.png@.webp">
        </div>
        <div class="activity-content">
            <p>活动内容</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="activity-img">
            <img src="http://i0.hdslb.com/bfs/vc/85ff2248ba00f882ac3a10a4226b84b42888d181.png@.webp">
        </div>
        <div class="activity-content">
            <p>活动内容</p>
        </div> 
    </div>
</div>