{% extends "base.html" %} 
{% block head %} 
{{ super() }}
<script src="/static/js/dropzone.js"></script>
<link href="/static/css/dropzone.css" rel="stylesheet">
{% endblock %} 

{% block title %}
上传作品
{% endblock %} 

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form class="dropzone" action="/works/post" id="my-awesome-dropzone">
            <div class="form-group">
                <input type="text" name="workName" class="form-control" placeholder="作品名">
            </div>
            <div class="form-group">
                <button type="submit" >提交</button>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

{% endblock %}