{% extends "base.html" %} 
{% block head %} 
<link href="/static/css/dropzone.css" rel="stylesheet"> 
{{ super() }}
<script src="/static/js/dropzone.js"></script>

{% endblock %} 
{% block title %} 
上传作品 
{% endblock %} 
{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form id="post" class="form-horizontal" role="form">
            <div class="form-group">
                <input type="text" name="workName" v-model="w_name" class="form-control" v-on:focus="resetInfo()" placeholder="作品名">
            </div>
            <div class="form-group">
                <textarea name="cont" class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <div class="dropzone" action="/works/api/uploads" id="imgList" v-on:click="resetInfo()">
                </div>
            </div>
            <div class="form-group">
                <label>板块</label>
            </div>
            <div class="form-group">
                <button id="info" type="button" class="btn-register" v-on:click="submit">提交</button>
            </div>
            <input id="img" type="text" name="img" style="display:none">
            <input id="d_post" type="text" name="d_post" style="display:none;">
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
<script>
    var img_arr = [];
    Dropzone.options.imgList = {
        success: function(file, response, e) {
            img_arr.push(response);
        }
    }

    var post_info = new Vue({
        el: "#post",
        data: {
            w_name: ""
        },
        methods: {
            resetInfo: function() {
                $("#info").text("提交");
            },
            submit: function() {
                if(this.postName == "") {
                    $("#info").text("请填写作品名");
                    return;
                }
                if(img_arr.length === 0) {
                    $("#info").text("请上传作品");
                    return;
                }
                $("#img").val(JSON.stringify(img_arr));
                $("form").submit();
            }
        }
    });
</script>
{% endblock %}