{% extends "base.html" %}

{% block title %}作品{% endblock %}
{% block content %}
<div class="row works">
    <div class="col-md-4 user-profile">
        <img class="works-profile-photo" src="{{ user.profile_photo }}">
        {{ user.nickname }}
    </div>
    <div class="col-md-8 works-image">
        <h2>{{ works.w_name }}</h2>
        <p>{{ works.cont }}</p>
        <label class="w-plate">{{ works.p_id }}</label>
        <ul id="w-list">
            {% for w_img in works.img %}
                <li><img src="{{ w_img }}"></li>
            {% endfor %}
        </ul>
        
    </div>
</div>
<div class="row comment">

</div>
<script>

</script>
{% endblock %}
