{% extends "base.html" %}
{% block head %} 
<link href="/static/css/works.css" rel="stylesheet"> 
{{ super() }}
{% endblock %}

{% block title %}作品{% endblock %}
{% block content %}
<div class="work-page">
    <div class="row works">
        <div class="col-md-4 user-profile">
            <img class="works-profile-photo" src="{{ user.profile_photo }}">
            {{ user.nickname }}
        </div>
        <div class="col-md-8 works-image">
            <h2>{{ works.w_name }}</h2>
            <p>{{ works.cont }}</p>
            <label class="w-plate">{{ works.p_id }}</label>
            <ul id="w-list">
                {% for w_img in works.img %}
                    <li><img src="{{ w_img }}"></li>
                {% endfor %}
            </ul>
            
        </div>
    </div>
    <div class="row post-comment">
        <label class="comment-label">发表评论</label>
        <textarea id="coment-text" class="comment-textarea"></textarea>
        <button type="button" class="comment-button" onclick="post_comment()">发表评论</button>
    </div>
    <div class="row comment">

    </div>
</div>
<script>

</script>
{% endblock %}
