<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>24hDemo</title>
    <script src="{{ url_for('static', filename = '24h_echarts.min.js') }}"></script>
</head>
<body>
    <!-- 调整宽高去适应页面，这个大小正好适合我的电脑而已... -->
    <div id="main" style="width: 1440px;height:750px;"></div>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
        var option = {
            title: {
                text: '网易音乐每日分时段评论数统计',
                //把下面网易云主页换成你的统计的数据页面
                link: 'http://music.163.com',
                subtext: 'data from 中113',
                left: 'center'
            },
            legend: {
                orient: 'vertical',
                data:['评论数'],
                y: 'top',
                x:'right'
            },
            dataZoom: [
                {
                    type: 'inside',
                    filterMode: 'filter'
                },
                {
                    type: 'slider',
                    filterMode: 'empty'
                },
            ],
            xAxis: {
                data: ["00:00~01:00","01:00~02:00","02:00~03:00","03:00~04:00","04:00~05:00","05:00~06:00",
                           "06:00~07:00","07:00~08:00","08:00~09:00","09:00~10:00","10:00~11:00","11:00~12:00",
                           "12:00~13:00","13:00~14:00","14:00~15:00","15:00~16:00","16:00~17:00","17:00~18:00",
                           "18:00~19:00","19:00~20:00","20:00~21:00","21:00~22:00","22:00~23:00","23:00~24:00"]},
            yAxis: {type: 'value'},
            series: [{
                name: '评论数',
                type: 'bar',
                data: [89875, 52452, 29395, 16695, 10993, 8794, 12028, 21362, 35041, 50747, 66651, 71943, 75362, 78552, 70262, 70685, 72684, 71354, 71436, 77723, 89313, 101751, 114890, 117267],
                animationDelay: function (idx) {
                    return idx * 10;
                }
            }],
            animationEasing: 'elasticOut'
        };
        myChart.setOption(option);
    </script>
</body>
</html>
