{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}网易云音乐数据分析{% endblock %}

{% block head %}
{{ super() }}
    <meta charset="utf-8">
    <script src="{{ url_for('static', filename = 'echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'jquery-2.2.4.js') }}"></script>
    <script src="{{ url_for('static', filename = 'dataTool.min.js') }}"></script>
{% endblock %}

{% block content_header %}
<h1>评论时间段数统计图</h1>
{% endblock %}

{% block content_container %}
<!-- 调整宽高去适应页面，这个大小正好适合我的电脑而已... -->
<div id="main" style="width: 100%;height:600%;"></div>
<script type="text/javascript">
    var dom = document.getElementById("main");
    var myChart = echarts.init(dom);
    myChart.showLoading();
    $.get('{{ url_for('static', filename = 'relaData.gexf') }}', function (xml) {
          myChart.hideLoading();
          var graph = echarts.dataTool.gexf.parse(xml);
          //图例
          var categories = [];
          var cat_list = ['摇滚', '甜美浪漫', '伤感深沉', '民谣', '舒缓抒情', '豪气', '回忆怀旧', '欢快', '强节奏', '丧乐']
        
          for (var i = 0; i < 10; i++) {
                categories[i] = {
                    name: cat_list[i]
                };
          }
        
          graph.nodes.forEach(function (node) {
                node.itemStyle = null;
                node.value = node.symbolSize * 10000;
                node.symbolSize /= 2;
                node.label = {
                    normal: {
                        show: node.symbolSize > 4
                    }
                };
                node.category = node.attributes.modularity_class;
          });
          
          option = {
        title: {
            text: 'By GQR',
            //subtext: 'By GQR',
            top: 'bottom',
            left: 'right'
        },
        tooltip: [{}],
        legend: [{
                 //orient: 'vertical',
                 //top: 'bottom',
                 //left: 'left',
            // selectedMode: 'single',
            data: categories.map(function (a) {
                return a.name;
            })
        }],
        animationDurationUpdate: 1500,
        animationEasingUpdate: 'quinticInOut',
        series : [
            {
                name: '歌曲：评论数',
                type: 'graph',
                layout: 'circular',
                circular: {
                    rotateLabel: true
                },
                data: graph.nodes,
                links: graph.links,
                categories: categories,
                roam: true,
                rotateLabel:true,
                label: {
                    normal: {
                        position: 'right',
                        formatter: '{b}'
                    }
                },
                lineStyle: {
                    normal: {
                        color: 'source',
                        curveness: 0.3
                    }
                },
                top:'middle'
            }
        ]
    };
          myChart.setOption(option);
          }, 'xml');
</script>
{% endblock %}