{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}网易云音乐数据分析{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content_header %}
<h1>网易音乐热评排序</h1>
{% endblock %}

{% block content_container %}
<div class="comment_box">
    <h3>Top100</h3>
    <p><hr></P>
    {% for comment in data %}
    <div class="row">
        <div class="col-xs-3 col-md-1"><a href="http://music.163.com/#/user/home?id={{comment['user']['userId']}}">
            <img src={{comment['user']['avatarUrl']}} width="64" height="64" ></a></br>
            <small>赞: {{comment['likedCount']}}</small>
        </div>
        <div class="col-xs-9 col-md-11">
            <a href="http://music.163.com/#/user/home?id={{comment['user']['userId']}}">{{comment['user']['nickname']}}:</a>
            <p></br>{{comment['content']}}</p>
            <small>{{ moment(comment['time']).format('YYYY年M月D日 h:mm:ss a') }}</small></br>
            <p align="right">来自歌曲 : <a  href="/song/{{comment['song']['id']}}" >{{comment['song']['name']}}</a></p></br>
        </div>
    </div>
    <p><hr></P>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}





