{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}网易云音乐数据分析{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content_header %}
<h1>网易音乐热评歌曲</h1>
{% endblock %}

{% block content_container %}
<div >
    <table class="table">
      <caption>Top100</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>歌曲名</th>
          <th>作者</th>
          <th>评论数</th>
        </tr>
      </thead>
      <tbody>
      {% for song in data %}
        <tr>
          <th scope="row">{{song['num']}}</th>
          <td><a href="http://music.163.com/#/song?id={{song['id']}}">{{song['name']}}</a></td>
          <td><a href="http://music.163.com/#/{{song['artist']['url']}}">{{song['artist']['name']}}</a></td>
          <td>{{song['total']}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table> 
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}





